
.navbar-fixed-top {
	min-height: 135px;
}

.top {
	margin-bottom: 135px;
}

.starter-template {
	margin-top: 80px;
	padding-top: 400px;
  padding: 100px 15px;
  text-align: left;
}

#logo {
	max-width: 100px;
	max-height: 100px;
	margin-right: 5px;
	margin-left: 5px;
	
}

#maw {
	max-width: 10%;
	max-height: 10%;
	
}

.navbar-toggle {
	margin-bottom: 100px;
}

.dLabel {
	background-color: none;
}