body {
	background: url('../images/JakeParis.jpg');
	 background-size: cover;
	 background-position: center;
  background-attachment: fixed;
  /*padding-top: 120px; */
}

.navbar-fixed-top {
	min-height: 135px;
}

.starter-template {

  padding: 40px 15px;
  text-align: center;
}


#navbar {
	background-color: transparent;
	color: red;
}

.navbar-nav {
	background-color: black;
}

.navbar-fixed-top {
    min-height: 135px;
    background-color: transparent;
    border-bottom: none;
}

.top {
	margin-bottom: 135px;
}

#logo {
	max-width: 100px;
	max-height: 100px;
	margin-right: 5px;
	margin-left: 5px;
	
}

#maw {
	max-width: 10%;
	max-height: 10%;
	
}

.navbar-toggle {
	margin-bottom: 100px;
}

.dLabel {
	background-color: none;
}