body {
  line-height: 1.5;
  font-family: 'Pacifico', cursive;
  /* Full Page Background Receipe */
  background: url('images/momlaying.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
}

.container {
	width: 450px;
	margin: 40px;
	margin-top: 0px;
	background: white;
	opacity: .9;
}

h1 {
	font-size: 70px;
	margin-left: 70px;
	color: white;
	margin-bottom: -50px;
	text-decoration: none;
}

h1:hover {
	color: orange;
	transition: color 0.3s ease-in;
	text-decoration: none;
}

h2 {
	font-size: 30px;
	padding: 30px;
	
	color: white;
	margin-top: 15px;
	margin-bottom: -15px;
	margin-left: 173px;
}

p {
	margin-bottom: -60px;
}

a {
	font-size: 23px;
	margin-left: -5px;
	color: white;
	text-decoration: none;
	margin-bottom: 10px;
}

a:hover {
	color: orange;
	transition: color 0.3s ease-in;
	text-decoration: none;
}

.test {
   max-width:50%;
   max-height:50%;
}

.testtwo {
	max-width:400%;
	max-height:400%;
}

.even {
	margin-left: 30px;
}

.spacing {
	font-size: 20px;
}

.bottom {
	margin-left: 10px;
	margin-bottom: 40px;
	font-size: 20px;
}



